<!DOCTYPE html>
<html>
  <head>
    <title>Proyecto MIDI</title>

    <% /* Viewport tag for sensible mobile support */ %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <% /*
        Stylesheets
        ========================

        Stylesheets can be hard-coded as «link» tags, automatically injected
        by the asset pipeline between "STYLES" and "STYLES END", or both.
        (https://sailsjs.com/docs/concepts/assets/task-automation)
    */ %>

    <% /* Auto-injected «link» tags: */ %>
    <!--STYLES-->
    <link rel="stylesheet" href="/dependencies/bootstrap-4/bootstrap-4.css">
    <link rel="stylesheet" href="/dependencies/font-awesome-4/css/font-awesome.css">
    <link rel="stylesheet" href="/dependencies/vendor/bootstrap/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/dependencies/vendor/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/dependencies/vendor/bootstrap/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="/dependencies/vendor/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/dependencies/vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/dependencies/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/dependencies/vendor/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/dependencies/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/dependencies/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="/styles/css/angular-datatables.css">
    <link rel="stylesheet" href="/styles/css/custom.css">
    <link rel="stylesheet" href="/styles/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="/styles/css/fontastic.css">
    <link rel="stylesheet" href="/styles/css/grasp_mobile_progress_circle-1.0.0.min.css">
    <link rel="stylesheet" href="/styles/css/my-login.css">
    <link rel="stylesheet" href="/styles/css/style.blue.css">
    <link rel="stylesheet" href="/styles/css/style.default.css">
    <link rel="stylesheet" href="/styles/css/style.green.css">
    <link rel="stylesheet" href="/styles/css/style.pink.css">
    <link rel="stylesheet" href="/styles/css/style.red.css">
    <link rel="stylesheet" href="/styles/css/style.sea.css">
    <link rel="stylesheet" href="/styles/css/style.violet.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body class="body">
    <div id="page-wrap">
      <header id="page-header" class="navbar navbar-expand-sm navbar-dark bg-dark flex-column flex-md-row justify-content-between">
        <a class="navbar-brand mr-0" href="/">PROYECTO DASHBOARD</a>
        <div class="navbar-nav flex-row">
          <!-- LOGGED-IN NAVIGATION -->
          <% if(me) { %>

          <% } else { %>
          <!-- LOGGED-OUT NAVIGATION -->
  
          <!-- Only in desktop nav -->
          <div class="form-inline d-none ml-2 d-md-block" >
            <a class="btn btn-outline-info" href="/login">Ingresar</a>
          </div>
          <!-- Only in mobile nav -->
          <a class="nav-item nav-link text-info ml-2 d-block d-md-none" href="/login">Ingresar</a>
          <% } %>
        </div>
      </header>

      <!-- Alert if email has not been confirmed -->
      <% if(me&&me.emailChangeCandidate) { %>
      <div class="container-fluid">
        <div class="alert alert-secondary mt-2" role="alert">
        Your updated email address needs verification. Until you click the link sent to <strong><%= me.emailChangeCandidate %></strong>, you'll still need to sign in as <strong><%= me.emailAddress %></strong>.
        </div>
      </div>
      <% } else if(me&&me.emailStatus === 'unconfirmed') { %>
      <div class="container-fluid">
        <div class="alert alert-secondary mt-2" role="alert">
        Your email address still needs verification. Your account access may be limited until you click the link sent to <strong><%= me.emailChangeCandidate ? me.emailChangeCandidate : me.emailAddress%></strong>.
        </div>
      </div>
      <% } %>

      <%- body %>

      
    </div>


    <% /*
      Client-side JavaScript
      ========================

      Scripts can be hard-coded as «script» tags, automatically injected
      by the asset pipeline between "SCRIPTS" and "SCRIPTS END", or both.
      (https://sailsjs.com/docs/concepts/assets/task-automation)
    */ %>

    <% /* Load Stripe Checkout */ %>
    <script src="https://checkout.stripe.com/checkout.js"></script>

    <% /* Delete the global `self` to help avoid client-side bugs.
    (see https://developer.mozilla.org/en-US/docs/Web/API/Window/self) */ %>
    <script>delete window.self;</script>

    <% /* Auto-injected «script» tags: */ %>
    <!--SCRIPTS-->
    <script src="/dependencies/sails.io.js"></script>
    <script src="/dependencies/lodash.js"></script>
    <script src="/dependencies/jquery.min.js"></script>
    <script src="/dependencies/bowser.js"></script>
    <script src="/dependencies/vue.js"></script>
    <script src="/dependencies/jquery.dataTables.min.js"></script>
    <script src="/dependencies/bootstrap-4/bootstrap-4.bundle.js"></script>
    <script src="/dependencies/cloud.js"></script>
    <script src="/dependencies/numbers.js"></script>
    <script src="/dependencies/parasails.js"></script>
    <script src="/dependencies/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="/dependencies/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/dependencies/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="/dependencies/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/dependencies/vendor/chartjs/Chart.bundle.js"></script>
    <script src="/dependencies/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="/dependencies/vendor/chartjs/Chart.js"></script>
    <script src="/dependencies/vendor/chartjs/Chart.min.js"></script>
    <script src="/dependencies/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/dependencies/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.js"></script>
    <script src="/dependencies/vendor/popperjs/umd/popper-utils.js"></script>
    <script src="/dependencies/vendor/popperjs/umd/popper-utils.min.js"></script>
    <script src="/dependencies/vendor/popperjs/umd/popper.js"></script>
    <script src="/dependencies/vendor/popperjs/umd/popper.min.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/js/cloud.setup.js"></script>
    <script src="/js/components/ajax-button.component.js"></script>
    <script src="/js/components/ajax-form.component.js"></script>
    <script src="/js/components/modal.component.js"></script>
    <script src="/js/utilities/open-stripe-checkout.js"></script>
    <script src="/appAngular/routes/rutas.js"></script>
    <script src="/appAngular/controllers/analisisNivelController.js"></script>
    <script src="/appAngular/controllers/analisisRoomsController.js"></script>
    <script src="/appAngular/controllers/comparacionesController.js"></script>
    <script src="/appAngular/controllers/controlador.js"></script>
    <script src="/appAngular/controllers/especificoController.js"></script>
    <script src="/appAngular/controllers/interpretacionController.js"></script>
    <script src="/appAngular/controllers/reporteGameController.js"></script>
    <script src="/appAngular/controllers/reporteNiñoController.js"></script>
    <script src="/appAngular/controllers/resultados_metricas.js"></script>
    <script src="/appAngular/controllers/setRoomController.js"></script>
    <script src="/appAngular/controllers/tablaController.js"></script>
    <script src="/appAngular/services/servicios.js"></script>
    <script src="/js/angular-datatables.js"></script>
    <script src="/js/charts-home.js"></script>
    <script src="/js/front.js"></script>
    <script src="/js/grasp_mobile_progress_circle-1.0.0.min.js"></script>
    <script src="/js/pages/498.page.js"></script>
    <script src="/js/pages/account/account-overview.page.js"></script>
    <script src="/js/pages/account/edit-password.page.js"></script>
    <script src="/js/pages/account/edit-profile.page.js"></script>
    <script src="/js/pages/contact.page.js"></script>
    <script src="/js/pages/dashboard/welcome.page.js"></script>
    <script src="/js/pages/entrance/confirmed-email.page.js"></script>
    <script src="/js/pages/entrance/forgot-password.page.js"></script>
    <script src="/js/pages/entrance/login.page.js"></script>
    <script src="/js/pages/entrance/new-password.page.js"></script>
    <script src="/js/pages/entrance/signup.page.js"></script>
    <script src="/js/pages/faq.page.js"></script>
    <script src="/js/pages/homepage.page.js"></script>
    <script src="/js/pages/legal/privacy.page.js"></script>
    <script src="/js/pages/legal/terms.page.js"></script>
    <!--SCRIPTS END-->

  </body>
</html>
