<% /* Note: This is injected into `views/layouts/layout-email.ejs` */ %>
<p style="margin-bottom: 25px;">Estimado <%= Name %>,</p>
<p style="margin-bottom: 25px;">Se ha requerido un cambio de contraseña en su cuenta. Si no fue Usted, ignore este correo electrónico. De lo contrario, simplemente haga clic en el botón de abajo:</p>
<div style="margin-bottom: 25px; text-align: center;">
  <a style="background-color: #00ACC4; display: inline-block; font-size: 1.1em; color: #fff; padding: 10px 5px 10px; font-weight: 500; text-decoration: none; border-radius: 7px;" href="<%= 'http://midiapi.espol.edu.ec/password/new'+'?token='+encodeURIComponent(token) %>">Actualizar Contraseñá</a>
</div>
<p style="margin-bottom: 25px;">Si tiene problemas con el botón, haga clic sobre el siguiente enlace: <a style="color: #00ACC4; word-wrap: break-word;" href="<%= 'http://midiapi.espol.edu.ec/password/new'+'?token='+encodeURIComponent(token) %>"><%= 'http://midiapi.espol.edu.ec/password/new'+'?token='+encodeURIComponent(token) %></a>, o contactenos por medio de nuestra página web.</p>
<p style="margin-bottom: 5px;">Saludos,</p>
<p style="margin-top: 0px;">Equipo de desarrollo</p>