<div id="new-password" v-cloak>
  <div class="container">
    <h1 class="text-center">Cambiar Contraseña</h1>
    <div class="new-password-form">
      <hr/>
      <ajax-form action="updatePasswordAndLogin" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-parsing="handleParsingForm">
        <div class="form-group">
          <label for="password">Nueva Contraseña</label>
          <input class="form-control" id="password" name="password" type="password"  :class="[formErrors.password ? 'is-invalid' : '']" v-model.trim="formData.password" placeholder="••••••••" autocomplete="new-password" focus-first>
          <div class="invalid-feedback" v-if="formErrors.password">Please enter a password.</div>
        </div>
        <div class="form-group">
          <label for="confirm-password">Confirmar Contraseña</label>
          <input class="form-control" id="confirm-password" name="confirm-password" type="password"  :class="[formErrors.confirmPassword ? 'is-invalid' : '']" v-model.trim="formData.confirmPassword" placeholder="••••••••" autocomplete="new-password">
          <div class="invalid-feedback" v-if="formErrors.confirmPassword">Las contraseñás ingresadas no coinciden.</div>
        </div>
        <p class="text-danger" v-if="cloudError"><small>Ha ocurrido un error mientras procesamos tu requerimiento. Por favor revisa tu información, o <a href="/contact">contactanos</a> si el error persiste.</small></p>
        <div class="form-group">
          <ajax-button type="submit" :syncing="syncing" class="btn btn-dark btn-lg btn-block">Aceptar</ajax-button>
        </div>
      </ajax-form>
      <p class="text-center">Recordaste tu contraseña? <a href="/login">Login</a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
