
<div style="padding: 20px">
  <div class="container-fluid">
    <div class="card" style="padding: 0 3rem">
      <div class="tituloTabla">
        Evaluaciones del Nivel
      </div>
      <hr>
      <table datatable="ng" class="table table-bordered text-center" id="mytable">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nivel</th> 
            <th scope="col">Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="resultado in resultados | orderBy: 'id'">
            <th>{{$index+1}}</th>
            <td>{{resultado.nombre}}</td>
            <td>{{resultado.resultado}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> 
</div>