
      <!-- Counts Section -->
      <section class="dashboard-counts section-padding">
        <div class="container-fluid">
          <div class="row">
            <!-- Spinner room -->
            <div class="col-xl-4 col-md-4 col-6">
              <div style="padding-right: 15px;">
                <div class="form-group">
                  <div class="name"><strong class="text-uppercase">Elegir Aula:</strong></div>
                  <select class="form-control" id="game" name="game" ng-model="select.roomId" style="margin-top: 10px" ng-change="jugadoresRoom()">
                    <option ng-value="room.id" value="room.id" ng-repeat="room in rooms">{{room.nombre.trim()}}</option>
                  </select>
                </div>
              </div>
            </div>
            <!-- Spinner niños -->
            <div class="col-xl-4 col-md-4 col-6">
              <div style="padding-right: 15px;">
                <div class="form-group">
                  <div class="name"><strong class="text-uppercase">Elegir Niño:</strong></div>
                  <select class="form-control" id="jugador" name="jugador" ng-model="select.jugadorId" style="margin-top: 10px" ng-change="datosJugadorFunc()">
                    <option ng-value="jugador.id" value="jugador.id" ng-repeat="jugador in jugadores">{{jugador.nombre.trim()}}</option>
                  </select>
                </div>
              </div>
            </div>
            <!-- Spinner Juego -->
            <div class="col-xl-4 col-md-4 col-6">
              <div style="padding-right: 15px;">
                <div class="form-group">
                  <div class="name"><strong class="text-uppercase">Elegir Juego:</strong></div>
                  <select class="form-control" id="game" name="game" ng-model="select.gameId" style="margin-top: 10px" ng-change="graficar()">
                    <option ng-value="game.id" value="game.id" ng-repeat="game in games">{{game.nombre.trim()}}</option>
                  </select>
                </div>
              </div>
            </div>
            <!-- Spinner Capítulo 
            <div class="col-xl-2 col-md-4 col-6">
              <div style="padding-right: 15px;">
                <div class="form-group">
                  <div class="name"><strong class="text-uppercase">Elegir Capítulo:</strong></div>
                  <select class="form-control" id="chapter" name="chapter" ng-model="select.chapterId" style="margin-top: 10px" ng-change="nivelesChapter()">
                    <option ng-value="chapter.id" value="chapter.id" ng-repeat="chapter in chapters">{{chapter.nombre.trim()}}</option>
                  </select>
                </div>
              </div>
            </div>-->
            <!-- Spinner Nivel 
            <div class="col-xl-2 col-md-4 col-6">
              <div style="padding-right: 15px;">
                <div class="form-group">
                  <div class="name"><strong class="text-uppercase">Elegir Nivel:</strong></div>
                  <select class="form-control" id="nivel" name="nivel" ng-model="select.jugadorId" style="margin-top: 10px" ng-change="datosJugadorFunc()">
                    <option ng-value="nivel.id" value="nivel.id" ng-repeat="nivel in niveles">{{nivel.nombre.trim()}}</option>
                  </select>
                </div>
              </div>
            </div>-->
          </div>
        </div>
      </section>

      <!-- Mis Gráficos -->
      <section class="dashboard-titulo" id="titulo">
        <div class="container-fluid">
          <div class="row" >
            <div class="col-md-12 col-xl-12" id="titulo_juego">
              <div style="text-align:center"><h1 class="">Juego: {{datos.nombre}}</h1></div>
            </div>
          </div>
        </div>
      </section>
      <div id="grafico">
      
      </div>

      <div id="noDatos">
        <div class="noDatos1">NO HAY DATOS PARA MOSTRAR</div>
        <div class="noDatos2">Por Favor Seleccione un Jugador y un Juego</div>
      </div>