<div class="breadcrumb-holder" style="line-height: 50px">
  <div class="row" style="padding-top: 5px; padding-right: 30px">
      <div class="form-group col-md-1 col-ls-6" style="text-align: right; padding-top: 5px">
          <div class="name" id="tituloSelect"><strong class="text-uppercase">Escuela:</strong></div>
      </div>
      <div class="form-group col-md-2 col-ls-6">
          <select class="form-control" id="escuela" name="escuela" ng-model="select.escuelaId" style="margin-top: 10px" ng-change="">
            <option ng-value="escuela.id" value="escuela.id" ng-repeat="escuela in escuelas">{{escuela.nombre.trim()}}</option>
          </select>
      </div>
      <div class="form-group col-md-1 col-ls-6" style="text-align: right; padding-top: 5px">
          <div class="name" id="tituloSelect"><strong class="text-uppercase">Escenario:</strong></div>
      </div>
      <div class="form-group col-md-2 col-ls-6">
          <select class="form-control" id="game" name="game" ng-model="select.roomId" style="margin-top: 10px" ng-change="">
            <option ng-value="room.id" value="room.id" ng-repeat="room in rooms">{{room.nombre.trim()}}</option>
          </select>
      </div>
      <div class="form-group col-md-1 col-ls-6" style="text-align: right; padding-top: 5px">
          <div class="name" id="tituloSelect"><strong class="text-uppercase">Juego:</strong></div>
      </div>
      <div class="form-group col-md-2 col-ls-6">
          <select class="form-control" id="game" name="game" ng-model="select.gameId" style="margin-top: 10px" ng-change="datosFunction()">
            <option ng-value="game.id" value="game.id" ng-repeat="game in games">{{game.nombre.trim()}}</option>
          </select>
      </div>
      <div class="form-group col-md-1 col-ls-6" style="text-align: right; padding-top: 5px">
          <div class="name" id="tituloSelect"><strong class="text-uppercase">Niño:</strong></div>
      </div>
      <div class="form-group col-md-2 col-ls-6">
          <select class="form-control" id="jugador" name="jugador" ng-model="select.jugadorId" style="margin-top: 10px" ng-change="datosJugadorFunc()">
            <option ng-value="jugador.id" value="jugador.id" ng-repeat="jugador in jugadores">{{jugador.nombre.trim()}}</option>
          </select>
      </div>

  </div>
</div>

      <!-- Mis Gráficos Niños-->
      <div id="titulo">
        <section class="dashboard-titulo" >
          <div class="container-fluid">
            <div class="row" >
              <div class="col-md-12 col-xl-12" id="titulo_juego">
                <div style="text-align:center"><h1 class="">Juego: {{datos.nombre}}</h1></div>
              </div>
            </div>
          </div>
        </section>
        <div id="grafico"></div>
      </div>
        
      <!-- Mis Gráficos Escuela -->
      <div id="titulo2">
        <section class="dashboard-titulo" >
          <div class="container-fluid">
            <div class="row" >
              <div class="col-md-12 col-xl-12" id="titulo_juego">
                <div style="text-align:center"><h1 class="">Historia: {{datos.nombre}}</h1></div>
              </div>
            </div>
          </div>
        </section>
        <div id="graficos_learn"></div>
        <div id="titulo3"></div>
        <div id="grafico2"></div>
      </div>
      

      <div id="noDatos" class="titulosPadding">
        <div class="noDatos1">NO HAY DATOS PARA MOSTRAR</div>
        <div class="noDatos2">Por Favor Seleccione un Jugador y un Juego</div>
      </div>