
      <!-- Counts Section -->
      <section class="dashboard-counts section-padding">
        <div class="container-fluid">
          <div class="row">
            <!-- Spinner -->
            <div class="col-xl-2 col-md-4 col-6">
              <div style="padding-right: 15px;">
                <div class="form-group">
                  <div class="name"><strong class="text-uppercase">Elegir Juego:</strong></div>
                  <select class="form-control" id="game" name="game" ng-model="select.gameId" style="margin-top: 10px" ng-change="datosFunction()">
                    <option ng-value="game.id" value="game.id" ng-repeat="game in games">{{game.nombre.trim()}}</option>
                  </select>
                </div>
              </div>
            </div>
            <!-- Aulas virtuales -->
            <div class="col-xl-2 col-md-4 col-6">
              <div class="wrapper count-title d-flex">
                <div class="icon"><i class="icon-list-1"></i></div>
                <div class="name"><strong class="text-uppercase">Escenarios</strong><span>Escenarios creados</span>
                  <div class="count-number">{{cantidades.room}}</div>
                </div>
              </div>
            </div>
            <!-- Cantidad de niños -->
            <div class="col-xl-2 col-md-4 col-6">
              <div class="wrapper count-title d-flex">
                <div class="icon"><i class="icon-user"></i></div>
                <div class="name"><strong class="text-uppercase">Niños</strong><span>Niños registrados</span>
                  <div class="count-number">{{cantidades.jugador}}</div>
                </div>
              </div>
            </div>
            <!-- Cantidad de juegos -->
            <div class="col-xl-2 col-md-4 col-6">
              <div class="wrapper count-title d-flex">
                <div class="icon"><i class="icon-padnote"></i></div>
                <div class="name"><strong class="text-uppercase">App-Juegos</strong><span>Juegos disponibles</span>
                  <div class="count-number">{{cantidades.game}}</div>
                </div>
              </div>
            </div>
            <!-- Cantidad de capitulos -->
            <div class="col-xl-2 col-md-4 col-6">
              <div class="wrapper count-title d-flex">
                <div class="icon"><i class="icon-check"></i></div>
                <div class="name"><strong class="text-uppercase">Capítulos</strong><span>capitulos disponibles</span>
                  <div class="count-number">{{cantidades.chapter}}</div>
                </div>
              </div>
            </div>
            <!-- Cantidad de niveles-->
            <div class="col-xl-2 col-md-4 col-6">
              <div class="wrapper count-title d-flex">
                <div class="icon"><i class="icon-list"></i></div>
                <div class="name"><strong class="text-uppercase">Niveles</strong><span>Nivelels disponibles</span>
                  <div class="count-number">{{cantidades.nivel}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Mis Gráficos -->
      <section class="dashboard-titulo">
        <div class="container-fluid">
          <div class="row" >
            <div class="col-md-12 col-xl-12" id="titulo_juego">
              <div style="text-align:center"><h1 class="">Historia: {{datos.nombre}}</h1></div>
            </div>
          </div>
        </div>
      </section>
      <div id="graficos_learn">
          
      </div>

      <div id="titulo2"> 
      </div>
      <div id="grafico">
      </div>

        
