<div class="breadcrumb-holder" style="line-height: 50px">
	<div class="row" style="padding-top: 5px">
		<div class="form-group col-md-2 col-ls-6" style="text-align: right; padding-top: 5px">
	        <div class="name" id="tituloSelect"><strong class="text-uppercase">Elegir Juego:</strong></div>
	    </div>
	    <div class="form-group col-md-3 col-ls-6">
	        <select class="form-control" id="select" name="game" ng-model="select.gameId" style="margin-top: 10px" ng-change="datosGame()">
	            <option ng-value="game.id" value="game.id" ng-repeat="game in games">{{game.nombre.trim()}}</option>
	        </select>
	    </div>
	    <div class="col-md-7 col-ls-12">
		    <div class="container-fluid" style="text-align: right;">
		        Guayaqui, 19 de julio del 2018
		    </div>
		</div>
	</div>
</div>

<div id="noDatos" class="titulosPadding">
    <div class="noDatos1">NO HAY DATOS PARA MOSTRAR</div>
    <div class="noDatos2">Por Favor Seleccione un Juego para presentar el reporte</div>
</div>

<div id="reporte" style="padding: 40px">
	<section>
		<div class="row">
			<div class="col-12 text-center">
				<h1>REPORTE DE JUEGO {{(datos.nombre).toUpperCase()}}</h1>
			</div>
			<div class="col-12" ng-repeat="(index1, capitulo) in datos.chapters">
				<div class="row" style="margin-top: 25px">
					<div class="col-12">
						<h2>Capitulo {{index1}}: {{capitulo.nombre}}</h2>
						<hr>
					</div>
					<div class="col-12">
						<h4>Modo Historia</h4>
					</div>
					<div class="col-12">
						<p>El tiempo de duración de la historia en este capitulo es de: {{capitulo.learning[0].duracion}} segundos.</p>
						<p>El tiempo promedio que han demorado los niños en visualizar esta historia es de {{promTiempo[index1].conclusion}}.</p>
						<p>La cantidad promedio de veces que los niños han repetido esta historia es de {{promIntentos[index1].conclusion}}.</p>
						<p>La cantidad de veces que se ha completado esta historia es de {{completadoHistoria[index1].cantidad}}, El porcentaje de abandonos es de {{porcAbandonoHistoria[index1].cantidad}}% que equivale a {{abandonoHistoria[index1].cantidad}} veces.</p>
					</div>	
					<div class="col-12">
						<h4>Modo Juegos</h4>
					</div>
					<div class="col-12" ng-repeat="(index2,nivel) in datos.chapters[index1].niveles[0]">
						<p style="text-decoration: underline;">Nivel {{index2}}: {{nivel.nombre}}</p>
						<div class="row" style="margin-left: 25px">
							<div class="col-12" >
								<p>El promedio de respuestas correctas en este nivel es de {{datosJuego[index1].correctas[index2].conclusion}}.</p>
								<p>El tiempo promedio que demoran los niños en completar este nivel es de {{datosJuego[index1].tiempo[index2].cantidad}} segundos.</p>
								<p>La cantidad de veces que se ha completado este nivel es de {{datosJuego[index1].completado[index2].cantidad}}, El porcentaje de abandonos es de {{datosJuego[index1].porcAbandono[index2].cantidad}}% que equivale a {{datosJuego[index1].abandono[index2].cantidad}} veces.</p>
							</div>
						</div>
					</div>					
				</div>
			</div>


		</div>
	</section>
</div>