<div class="breadcrumb-holder" style="line-height: 50px">
  <div class="row" style="padding-top: 5px; padding-right: 30px">

      <div class="form-group col-md-2 col-ls-6" style="text-align: right; padding-top: 5px">
          <div class="name" id="tituloSelect"><strong class="text-uppercase">Elegir Room:</strong></div>
      </div>
      <div class="form-group col-md-2 col-ls-6">
          <select class="form-control" id="room" name="room" ng-model="select.roomId" style="margin-top: 10px">
            <option ng-value="room.id" value="room.id" ng-repeat="room in rooms">{{room.nombre.trim()}}</option>
          </select>
      </div>

      <div class="col-md-1"></div>
      <div class="form-group col-md-2 col-ls-6 text-center" >
        <button class="btn btn-primary" ng-click="activateRoom()" style="width: -webkit-fill-available">Activar Room</button>
      </div>

  </div>
</div>

<div style="padding: 20px">
  <div class="container-fluid">
    <div class="card" style="padding: 0 3rem">
      <div class="tituloTabla">
        Rooms
      </div>
      <hr>
      <table datatable="ng" class="table table-bordered text-center" id="mytable">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Tipo</th>
            <th scope="col">Edad</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="resultado in resultados | orderBy: 'id'">
            <th>{{$index+1}}</th>
            <td>{{resultado.nombre}}</td>
            <td>{{resultado.descripcion}}</td>
            <td>{{resultado.tipo}}</td>
            <td>{{resultado.edad}}</td>
            <td>{{resultado.estado}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> 
</div>