<div class="breadcrumb-holder" style="line-height: 50px">
  <div class="row" style="padding-top: 5px; padding-right: 30px">

      <div class="form-group col-md-2 col-ls-6" style="text-align: right; padding-top: 5px">
          <div class="name" id="tituloSelect"><strong class="text-uppercase">Elegir Institución:</strong></div>
      </div>
      <div class="form-group col-md-2 col-ls-6">
          <select class="form-control" id="escuela" name="escuela" ng-model="select.escId" style="margin-top: 10px" ng-change="escuelaRoom()">
            <option ng-value="escuela.id" value="escuela.id" ng-repeat="escuela in escuelas">{{escuela.nombre.trim()}}</option>
          </select>
      </div>

      <div class="form-group col-md-2 col-ls-6" style="text-align: right; padding-top: 5px">
          <div class="name" id="tituloSelect"><strong class="text-uppercase">Elegir Room:</strong></div>
      </div>
      <div class="form-group col-md-2 col-ls-6">
          <select class="form-control" id="room" name="room" ng-model="select.roomId" style="margin-top: 10px">
            <option ng-value="room.id" value="room.id" ng-repeat="room in rooms">{{room.descripcion.trim()}}</option>
          </select>
      </div>

      <div class="col-md-2"></div>
      <div class="form-group col-md-2 col-ls-6 text-center" >
        <button class="btn btn-primary" ng-click="activateRoom()" style="width: -webkit-fill-available">Activar/Desactivar</button>
      </div>

      <div class="col-md-2"></div>
      <div class="form-group col-md-2 col-ls-6 text-center" >
        <button class="btn btn-primary" ng-click="actualizarTabla()" style="width: -webkit-fill-available">Actualizar tabla</button>
      </div>

  </div>
</div>

<div style="padding: 20px">
  <div class="container-fluid">
    <div class="card" style="padding: 0 3rem">
      <div class="tituloTabla">
        Escuelas con Salas activas
      </div>
      <hr>
      <table datatable="ng" class="table table-bordered text-center" id="mytable">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Código de Escuela</th>
            <th scope="col">Nombre de Escuela</th>
            <th scope="col">Código de Sala</th>
            <th scope="col">Nombre de Sala</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="r in response | orderBy: 'id'">
            <th>{{$index+1}}</th>
            <td>{{r.escuela_code}}</td>
            <td>{{r.escuela_nombre}}</td>
            <td>{{r.room_code}}</td>
            <td>{{r.room_nombre}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> 
</div>